/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Variables */
:root {
    --primary-color: #171821;
    --secondary-color: #21222d;
    --accent-color: #20aef3;
    --text-color: #fff;
    --gray-400: #a0a0a0;
    --gray-500: #87888c;
}

/* General Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* Main Content */
.main-content {
    padding: 1.5rem;  /* Increased padding for better spacing */
    max-width: 960px; /* Optional:  Set a max-width for larger screens */
    margin: 0 auto;   /* Center the content */
}

/* Cards */
.card {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */

}

.card h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;

}

.card p {
    font-size: 1rem;
    color: var(--gray-400);
    margin-bottom: 1.5rem;

}

/* Today's Activity */
.today-activity .activity-detail {
    display: flex;
    align-items: center;  /* Center items horizontally */
    justify-content: space-between; /* Space items evenly */
    margin-bottom: 1rem;
    padding: 1rem 0;  /* Add padding */
    border-bottom: 1px solid var(--gray-500); /* Divider */
}


.today-activity .activity-detail p {
    margin-bottom: 0; /* Remove margin */

}

.today-activity .activity-detail h3 {
    font-size: 1.75rem;
    color: var(--accent-color);
    margin-top: 0;
}


/* Most Visited Websites */
#most-visited-table th, #most-visited-table td {
    padding: 0.5rem;
    text-align: left; /* Align text to the left */
    border: none;
    border-bottom: 1px solid var(--gray-500);

}

/* Add more styles for specific elements as needed (charts, tables, etc.) */
